.subject-selector-container {
    margin: 20px;
  }
  
  .select-label {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .select-input {
    width: 200px;
    height: 30px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .subject-header {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .subject-table {
    width: 100%;
  }
  
  .subject-link {
    text-decoration: none;
    color: #007bff; /* Bootstrap primary color */
  }
  
  .subject-link:hover {
    text-decoration: underline;
  }
  