* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.subject-selector-container {
  margin: 20px;
}

.subject-header {
  font-size: 18px;
  margin-bottom: 10px;
}

.subject-table {
  width: 100%;
}

.subject-link {
  text-decoration: none;
  color: #007bff; /* Bootstrap primary color */
}

.subject-link:hover {
  text-decoration: underline;
}
.banner {
  width: 65%;
  max-width: 100%;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.content {
  background: url("../Assets/College-Img/college.jpg") no-repeat;
  background-size: cover;
}
.subject-content {
  background: rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  color: black;
  padding: 20px;
  border-radius: 15px;
  font-size: bold;
}
.subject-content::selection {
  background-color: red;
  color: rgb(46, 74, 24);
}

.hello::selection {
  color: green;
}
.previous-btn {
  background-color: rgb(212, 206, 206);
  display: inline-block;
  padding: 10px 30px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin: 10px 0px;
  cursor: pointer;
}
.link-style {
  color: rgb(25, 24, 29); /* For example, change the color to blue */
  text-decoration: none; /* Remove default underline */
}

/* department */
.capitalize {
  text-transform: capitalize;
}

.select-label {
  font-size: 16px;
  margin-right: 10px;
}

.select-input {
  width: 80%;
  height: 30px;
  padding: 18px;
  font-size: 14px;
  margin-bottom: 10px;
  outline: none;
  margin: none;
  
}
